@{
    ViewBag.Title = "Home Page";
}



<!-- Main Content -->
<div class="main-content margin-top50 margin-bottom50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 wow fadeIn">
                <div class="content-box big ch-item bottom-pad-small">
                    
                    <div class="content-box-info ">
                        <h3 class="pull-left">Technology, Architecture and Design</h3>
                        <br />
                        <p>
                            <blockquote class="text-justify">
                                Built using Visual Studio 2017, utilizing .NET Framework 4.6.1, C# MVC, MS SQL Server 2017, JQuery.<br/>
                                Dependency Injection via Ninject. <br />
                                Onion Architectual pattern used to promote maintainability and scalability.<br/>
                                Layout styles utilizing Bootstrap 3, Font Awesome and custom CSS. 
                            </blockquote>
                        </p>
                        
                    </div>
                    <div class="border-bottom margin-top30">
                    </div>
                   
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- /Main Content -->
