
    <div class="pattern-overlay">
        <!-- Footer Top -->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <section class="col-lg-4 col-md-4 col-xs-12 col-sm-4 footer-one wow fadeInUp">
                        <h3 class="light">About</h3>
                        <p>
                            Demonstration project used to collect, display demographic data. Allows creating, reading, updating and deleting of records. <br/>
                        </p>
                    </section>
                    <section class="col-lg-4 col-md-4 col-xs-12 col-sm-4 footer-two wow fadeInUp">
                       
                    </section>
                    <section class="col-lg-4 col-md-4 col-xs-12 col-sm-4 footer-three wow fadeInUp">
                        <h3 class="light">Contact Robert</h3>
                        <ul class="contact-us">
                            <li>
                                <i class="fa fa-map-marker"></i>
                                <p>
                                    <strong class="contact-pad">Address:</strong> 968 Baneberry Dr.<br> Sun Prairie, WI <br/>53590
                                    
                                </p>
                            </li>
                            <li>
                                <i class="fa fa-phone"></i>
                                <p><strong>Phone:</strong> 608-320-6213</p>
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i>
                                <p><strong>Email:</strong><a href="mailto:rbonachea@hotmail.com">RBonachea@Hotmail.com</a></p>
                            </li>
                        </ul>
                    </section>
                   
                </div>
            </div>
        </div>
        <!-- /Footer Top -->
        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
                        <p class="credits">&copy; Copyright 2018  </p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
                        <ul class="social social-icons-footer-bottom">
                            <li class="linkedin"><a href="https://linkedin.com/in/robert-bonachea-58b9a9141" data-toggle="tooltip" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Footer Bottom -->
    </div>

